{% load i18n %}
{% load display_tags %}

<li class="nav-item">
    <a href="{% url 'customer:profile-view' %}"
        class="nav-link{% if active_tab == 'profile' %} active{% endif %}">{%trans "Profile" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:order-list' %}" class="nav-link{% if active_tab == 'orders' %} active{% endif %}">{% trans "Order History" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:address-list' %}" class="nav-link{% if active_tab == 'addresses' %} active{% endif %}">地址</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:email-list' %}" class="nav-link{% if active_tab == 'emails' %} active{% endif %}">信箱紀錄</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:alerts-list' %}" class="nav-link{% if active_tab == 'alerts' %} active{% endif %}">{% trans "Product Alerts" %}</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:notifications-inbox' %}"
        class="nav-link{% if active_tab == 'notifications' %} active{% endif %}">通知</a>
</li>
{% iffeature 'wishlists' %}
<li class="nav-item">
    <a href="{% url 'customer:wishlists-list' %}"
        class="nav-link{% if active_tab == 'wishlists' %} active{% endif %}">{% trans "Wish Lists" %}</a>
</li>
{% endiffeature %}

<li class="nav-item">
   
</li>
<li class="nav-item"> <a href="/accounts/seller-apply"  class="nav-link{% if active_tab == 'application' %} active{% endif %}">二手衣上架申請</a>
</li>

</li>
<li class="nav-item"> <a href="/accounts/seller-apply-records"  class="nav-link{% if active_tab == 'application-records' %} active{% endif %}">上架申請/已上架商品查詢</a>
</li>

</li>
<li class="nav-item"> <a href="/accounts/seller-sold_items"  class="nav-link{% if active_tab == 'items-cold' %} active{% endif %}">已售出商品</a>
</li>