{% extends 'oscar/dashboard/layout.html' %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}
    {% trans "Categories" %} | {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Seller Manager
            </li>
        </ol>
    </nav>
{% endblock %}


{% block header %}
            <div class="page-header">
                <h1>{% block headertext %}<b>您正在刪除 {{ object.seller }} 的相關餘額提領紀錄！</b>{% endblock %}</h1>
            </div>
          
{% endblock %}

{% block content%}

是否確定刪除{{ object.seller }}的相關餘額提領紀錄?
<br />
<br />
<form action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="是的，我要刪除" />
    <a class="btn btn-warning" href="{% url 'seller:seller-list' %}">否，我要取消</a>
</form>

{% endblock %}


