{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:" en-gb" }}" class="{% block html_class %}no-js{% endblock %}">
    
<head>
    
   
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        div {
            font-family: 微軟正黑體;
        }
    </style>
    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now " jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
    <meta name="robots" content="NOARCHIVE,NOCACHE" />
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'oscar/favicon.ico' %}" />
    {% endblock %}

    {# Block where global CSS will go. #}
    {% block styles %}{% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
    {# Default to using Google analytics #}
    {% include "oscar/partials/google_analytics.html" %}
    {% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
    {# Main content goes in this 'layout' block #}
    {% block layout %}{% endblock %}

    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
    {% endblock %}

    {# Local scripts #}
    {% block scripts %}
    {% endblock %}

    {# Additional JS scripts #}
    {% block extrascripts %}{% endblock %}

    {# Block for body onload functions #}
    <script>
        $(function () {
            {% block onbodyload %} {% endblock %}
        });
    </script>

    {# Page meta-data - this is populated by the 'metadata' template context processor #}
</body>
<br>
<footer class="site-footer">
    {% block footer %}
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">ABOUT Onehalf</h5>
        <p><small>
            ONEHALF希望能提供消費者一個方便、直覺操作的二手衣買賣商場<br>
            消費者能在此出售不再穿的衣物，也能在此購買狀況良好的二手衣<br>讓二手衣能夠達到它最大的效益，也同時為環保盡一份心力。
        </p></small>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">關於我們</a>
          </li>
          <li>
            <a href="#!" class="text-dark">常見問答</a>
          </li>
          <li>
            <a href="#!" class="text-dark">聯絡我們</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">臉書粉絲團</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3";>
    © 2021 Copyright
    <a class="text-dark" href="#">ONEHALF</a>
  </div>
    
    {% endblock %}
    
</footer>


</html>