
<div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">ABOUT Onehalf</h5>
        <p><small>
            ONEHALF希望能提供消費者一個方便、直覺操作的二手衣買賣商場<br>
            消費者能在此出售不再穿的衣物，也能在此購買狀況良好的二手衣<br>讓二手衣能夠達到它最大的效益，也同時為環保盡一份心力。
        </p></small>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">關於我們</a>
          </li>
          <li>
            <a href="#!" class="text-dark">常見問答</a>
          </li>
          <li>
            <a href="#!" class="text-dark">聯絡我們</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/%E4%BA%8C%E5%88%86%E4%B9%8B%E4%B8%80-101265798717645" class="text-dark">臉書粉絲團</a>
          </li>
          <li>
            <a href="https://www.instagram.com/__myonehalf/" class="text-dark">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Copyright -->
  <div class="text-center p-3";>
    © 2021 Copyright
    <a class="text-dark" href="#">ONEHALF</a>
  </div>
    
  