{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
    <div class="span6">
    <div class="sub-header">
        <h2>{% trans "Payment" %}</h2>
    </div>
    <div class="well well-success">
        <p>{% blocktrans with amount=order_total.incl_tax|currency %}<strong>{{ amount }}</strong> will be deducted from your PayPal account or your bankcard.
        {% endblocktrans %}</p>
        <p>付款完成後，請記得點選最下方的藍色按鈕，以完成訂單</p>
            <!--paypal button-->
         <div class="alert-actions">
        <ul>
            <div id="paypal-button-container"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AcQufVvHZWYsBFkMgDq7p9P5FyLJmnDVsxQjU2MWFI9-b5ftgwhTw_jxMvwJEX_lQmtoarvek7__omqH&currency=TWD"></script>

    <script>
        //var total='{{product.price}}'
        var amount='{{order_total.incl_tax}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

        </ul>
        </div> 
    </div>
</div>
{% endblock %}


{% block hiddenforms %}
    {{ bankcard_form.as_p }}
    {{ billing_address_form.as_p }}
{% endblock %}
