{% extends "oscar/customer/baseaccountpage.html" %}

<!-- 範例中可以看到Django類別導向的檢視(Class-based Views)預設將查詢結果的物件以object_list傳入樣板中。 -->


{% block content %}
{% if not itemexist %}

<b><font color=#AE0000>{{ message }}</font></b>


{% endif %}

{% if itemexist %}
<b><font color=#003D79>{{ message }}</font></b>
{% endif %}

<form name='apply' action='/accounts/seller-apply-process' method='POST'>
    {% csrf_token %}
   <!-- {{ form.as_p }} -->
   <input type="hidden" id="uniqlo_item_query_result" name="uniqlo_item_query_result"  value={{ UNIQLOItemQuerySetStr }}><br>
   <input type="hidden" id="sellerID" name="sellerID" value={{ sellerID }}>

   <label for="itemID">商品序號</label><br>
   <input type="text" id="itemID" name="itemID"  onfocusout="focusoutFunction()"><br>
    
    <input type='submit' value='確定商品序號'>
    <input type='reset' value='清除重填'>
    
    
</form>

<!-- 
{% if itemexist %}
你剛剛輸入了{{uniqlo_id}}
{% else %}
哈哈
{% endif %} -->

{% endblock  %}