{% extends 'oscar/dashboard/layout.html' %}
{% load sorting_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Categories" %} | {{ block.super }}
{% endblock %}
{% block breadcrumbs %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Seller Manager
            </li>
        </ol>
    </nav>
{% endblock %}


{% block header %}
            <div class="page-header">
                <h1>{% block headertext %}<b>上架申請管理</b>{% endblock %}</h1>
            </div>
            <br>
{% endblock %}

{% block content%}





<table class="table">
    <thead>
        <tr>
            <th>賣家</th>
            <th>狀態</th>
            <th>商品序號</th>
            <th>品名</th>
    
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.UNIQLOID }}</td>
            <td>{{ item.title }}</td>
            <td><a href="{% url 'seller:seller-update-application' item.id %}" class="btn btn-success">修改此申請紀錄</a></td>
            <td><a href="{% url 'seller:seller-delete-application' item.id %}" class="btn btn-success">刪除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}









